{% extends 'base.html' %}

{% block title %}Report of Monaco 2018 Racing F1 - Drivers{% endblock %}

{% block content %}
<h1>Report of Monaco 2018 Racing F1 - Drivers</h1>
<table>
    <thead>
    <tr>
        <th>NAME DRIVER</th>
        <th>CODE DRIVER</th>
    </tr>
    </thead>
    <!-- Loop through the driver data and generate table rows -->
    <tbody>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver[0] }}</td>
        <td><a href="{{ url_for('show_report', driver_id=driver[1]) }}">{{ driver[1] }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
